.card {
    padding: 0!important;
    display: inline-block;
    
  
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }


  
.row {
    gap: 20px;
    margin-top: 30px;
  }